<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Derrik's ChatApp | Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">


	<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
	
	
</head>

<body>


	<main id="app">
	
		<section class="form-container">
			<form>

			<h1>CHAT APP</h1>
			<label for="nickname">Your Nickname (optional)</label>
			<input v-model="nickname" class="nickname" placeholder="What is your nickname?" type="text" autocomplete="off" id="textarea"></input>

				<label for="message">Something to say...?</label>
				<div class="wrapper">
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				
				
				<!-- emoji picker -->
					<emoji-picker @emoji="append" :search="search">
					  <div
						class="emoji-invoker"
						slot="emoji-invoker"
						slot-scope="{ events: { click: clickEvent } }"
						@click.stop="clickEvent"
					  >
					  <!-- smiley face button svg -->
						<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						  <path d="M0 0h24v24H0z" fill="none"/>
						  <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
						</svg>
					  </div>
					  <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
						<div class="emoji-picker" :style="{ top: display.y + 'px', left: display.x + 'px' }">
						  <div class="emoji-picker__search">
							  
							<!-- Can add a search filter for the emojis later -->
							<!-- <input type="text" v-model="search" v-focus> -->
						  </div>
						  <div>
							<div v-for="(emojiGroup, category) in emojis" :key="category">
							  <h5>{{ category }}</h5>
							  <div class="emojis">
								<span
								  v-for="(emoji, emojiName) in emojiGroup"
								  :key="emojiName"
								  @click="insert(emoji)"
								  :title="emojiName"
								>{{ emoji }}</span>
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					</emoji-picker>
				  </div>
				
		
				
				<input @click.prevent="dispatchMessage" type="submit" value="Send">

				
			</form>


		</section>

		<section class="messages">
			<ul id="messages">
			
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
	</main>

	<!-- CDN the emoji picker -->
	<script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
	
</body>

</html>